/*
¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.
::: *...*...*...*...*...*...*...*...*...*...* *...*...*...*...*...*...*...*
*::::::::::::: :::::::: created by: BRANDON WALLACE :::::::::: ::::::::::::
•..*...*...*...*...*¤...*...*...*...*...*...*...*...*...*...*...*...*...*..*
•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.••*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸
*/

@font-face {
    font-family: 'FredokaOne-Regular';
    src: url('../fonts/FredokaOne-Regular.otf') format('opentype'),
         url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ADE362;
    font-family: Arial, sans-serif;
}

a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

header {
    width: 100%;
    margin-bottom: .5em;
    background-color: #3E6A14;
}

nav {
    width: 100%;
    z-index: 99;
    height: 42px;
    position: relative;
    background-color: #ADE362;
}

nav input[type="checkbox"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

nav label {
    padding: .6em;
    display: block;
    cursor: pointer;
}

.hamburger__icon,
.hamburger__icon:before,
.hamburger__icon:after {
    width: 100%;
    height: .31em;
    background-color: #1D1F20;
    transition: all 0.4s ease-in-out;
}

.hamburger__icon {
    margin: .5em 0;
    max-width: 2em;
    position: relative;
    display: inline-block;
}

.hamburger__icon:before,
.hamburger__icon:after {
    content: '';
    left: 0;
    position: absolute;
}

.hamburger__icon:before {
    top: -0.7em;
}

.hamburger__icon:after {
    bottom: -0.7em;
}

/* Transform hamburger button on click */
nav input[type="checkbox"]:checked + label .hamburger__icon {
    background-color: transparent;
}

nav input[type="checkbox"]:checked + label .hamburger__icon:before {
    top: 0;
    transform: rotate(-45deg);
}

nav input[type="checkbox"]:checked + label .hamburger__icon:after {
    top: 0;
    transform: rotate(45deg);
}

/* Display menu full screen */
nav input:checked ~ .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ADE362;
}

.menu {
    padding: 0;
    opacity: 0;
    width: 350px;
    max-height: 0;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    line-height: 1.75;
}

.menu li {
    padding: .5em 1em;
    font-size: 2rem;
    box-sizing: border-box;
}

nav input:checked ~ .menu {
    opacity: 1;
    max-height: inherit;
    margin: 1em auto 0 auto;
}

.menu__link {
    color: #000000;
}

.menu__link:hover {
    border-bottom: 4px solid #000000;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.column {
    height: 95%;
    width: 320px;
    margin: 0 auto;
    display: flex;
    max-height: 800px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.index-page {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    border: 4px solid #000000;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.65)),
                url('../images/lettuce.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
}

.generate-btn,
.banner-text,
.info-banner,
.about-banner,
.contact-banner {
  font-family: 'FredokaOne-Regular', Helvetica, sans-serif;
}

.banner-text,
.info-banner,
.about-banner,
.contact-banner {
    width: 96%;
    color: #FF4000;
    font-size: 2.75rem;
    text-align: center;
    margin-top: 30px;
    text-shadow: 1px 1px 0 #FFFFFF,
                 2px 2px 0 #FFFFFF,
                 3px 3px 0 #FFFFFF,
                 4px 4px 0 #FFFFFF,
                 5px 5px 0 #FFFFFF,
                 6px 6px 0 #FFFFFF,
                 7px 7px 2px rgba(0, 0, 0, 0.9),
                 7px 7px 4px rgba(0, 0, 0, 0.9),
                 7px 7px 6px rgba(0, 0, 0, 0.9);
}

.generate-btn {
    width: 70%;
    padding: 15px;
    color: #FFFFFF;
    max-width: 300px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    letter-spacing: .25rem;
    border: 4px solid #000000;
    background-color: #ff6300;
    animation: fadeIn1 4000ms ease-in-out;
    box-shadow: inset 0 0 0 4px #FFFFFF,
                      9px 9px 2px 1px rgba(0, 0, 0, .9);
}

.generate-btn:hover {
    box-shadow: inset 0 0 0 4px #FFFFFF,
                2px 2px 2px 1px rgba(0, 0, 0, .9);
}

.generate-btn a {
    font-size: 1.1rem;
}

/* Fade in effect using CSS animation */
.banner-text {
    margin: 12px 0 0 0;
    animation: fadeIn1 2000ms ease-in-out;
}

.gif-img {
    width: 100%;
    height: auto;
    max-width: 290px;
    animation: fadeIn1 1500ms ease-in-out;
}

@keyframes fadeIn1 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* END Index page */

/* Generate page */
section {
    width: 100%;
    height: 50%;
    display: flex;
    max-width: 320px;
    min-height: 620px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.controls {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.controls button {
    border: 0;
    width: 100%;
    padding: 6px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 4px;
    border: 4px solid #000000;
    background-color: #599900;
    box-shadow: inset 0 0 0 4px #FFFFFF,
                      9px 9px 2px 1px rgba(0, 0, 0, .9);
}

button:hover {
    background-color: #315302;
    box-shadow: inset 0 0 0 4px #FFFFFF,
                2px 2px 2px 1px rgba(0, 0, 0, .9);
}

.generator {
    margin-bottom: .5em;
    background-color: #3E6A14;
}

.slots {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #3E6A14;
    animation: fadeIn2 2000ms ease-in-out;
}

.fade {
    animation: fadeIn2 2000ms ease-in-out;
}

@keyframes fadeIn2 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.slot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADE362;
}

.hide {
    display: none;
}

.slot-img {
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 200px;
    box-sizing: border-box;
    border: 4px solid #2B5700;
}

.slot-img:hover {
    border: 6px solid #1B3601;
    background-color: rgba(43, 87, 0, 0.5);
}
/* END Generate page */

/* Info page */
.info-banner {
    margin-bottom: 0;
}

.info-text {
    padding: 15px;
}

.info {
    width: 100%;
    padding: 5px;
    color: #172801;
    max-width: 600px;
}

.info p {
    font-weight: bold;
}

.info p,
.info h3,
.info h4,
.info h5 {
    margin: 6px 0;
}

.info h3 {
    padding-left: 20px;
}

.vegetables_walking {
    bottom: 0;
    width: 100%;
    height: auto;
    max-width: 400px;
    position: relative;
    align-self: flex-end;
}
/* END Info page */

/* About page */
.about-info {
    padding: 20px;
    color: #172801;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ADE362;
    border: 4px solid #000000;
    box-shadow: inset 0 0 0 4px #FFFFFF,
                9px 9px 2px 1px rgba(0, 0, 0, .9);
}

.about-info ul {
    padding-left: 0;
    list-style-type: none;
}

.about-info li {
    padding: 10px;
    font-size: 1.2rem;
}

.about-info a {
    color: #000BFF;
}

.about-info a:hover {
    color: #36DB04;
}

.about-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/leafy_greens.jpg');
}
/* END About page */

/* Contact page */
.contact-info {
    padding: 25px;
    color: #172801;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ADE362;
    border: 4px solid #000000;
    box-shadow: inset 0 0 0 4px #FFFFFF,
                9px 9px 2px 1px rgba(0, 0, 0, .9);
}

.contact-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/leafy_greens.jpg');
}

.contact-name {
    font-size: 1.9rem;
}

.contact-link {
    color: #000000;
}

.icons {
    display: flex;
    font-size: 3.5rem;
    justify-content: space-around;
}

.icons > a {
    color: #172801;
}
/* END Contact page */

/* Media Queries */
@media only screen and (orientation: landscape) and (min-height: 300px) {
  .index-content {
      width: 100%;
      flex-direction: row;
      justify-content: center;
  }
  .banner-text {
      width: 50vw;
      justify-content: space-between;
  }
  .index-banner {
      font-size: 2rem;
  }
  .index-img {
      max-width: 290px;
      margin: 1rem;
  }
  /* Generate page */
  .controls {
      width: 815px;
      flex-direction: row;
      justify-content: space-around;
  }
  .controls button {
      width: 30%;
  }
}

@media only screen and (min-width: 360px) and (orientation: portrait){
  .column {
      width: 360px;
  }
  .index-banner {
      font-size: 2.5rem;
  }
  .index-img {
      max-width: 320px;
  }
}

@media only screen and (min-width: 576px) {
  .index-page {
      box-sizing: border-box;
      border: 8px solid #000000;
  }
  .index-banner,
  .info-banner,
  .about-banner,
  .contact-banner {
      width: 100%;
      font-size: 3.5rem;
  }
  .slot-img {
      width: 100%;
  }
  img {
      width: 100%;
      height: auto;
  }
}

@media only screen and (min-width: 786px) {
  section {
      max-width: 1665px;
      flex-direction: column;
      justify-content: center;
  }
  .index-banner,
  .info-banner,
  .about-banner,
  .contact-banner {
      font-size: 5rem;
  }
  .column {
      width: 80%;
  }
  .index-generate-btn a {
      font-size: 1.5rem;
  }
  .slots {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
  }
  .slot-img {
  	  width: 100%;
  	  max-height: 555px;
  }
  img {
      width: 100%;
      height: auto;
  }
  .controls {
      width: 800px;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
  }
  .controls button {
      height: 50px;
      max-width: 250px;
  }
}

@media only screen and (min-width: 922px) {
  .index-banner,
  .info-banner,
  .about-banner,
  .contact-banner {
      font-size: 6rem;
      margin: 0;
  }
  img {
      max-width: 350px;
  }
  .index-generate-btn a {
      font-size: 2rem;
  }
  .info {
      font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .info {
      font-size: 1.4rem;
  }
}

/* END Media Queries */
