/*
¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.
::: *...*...*...*...*...*...*...*...*...*...* *...*...*...*...*...*...*...*
*::::::::::::: :::::::: created by: BRANDON WALLACE :::::::::: ::::::::::::
•..*...*...*...*...*¤...*...*...*...*...*...*...*...*...*...*...*...*...*..*
•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸¸.••*´¨`*•.¸¸.•*´¨`*•.¸¸.•*´¨`*•.¸
*/

@font-face {
  font-family: 'FredokaOne-Regular';
  src: url('../fonts/FredokaOne-Regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

html {
  /* Set correct line height for all browsers. */
  line-height: 1.15;
}

html,
body {
  /* Remove default margin. */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Set a default background color. */
  background-color: #ADE362;
  font-family: Helvetica, sans-serif;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

nav {
  height: 3%;
  min-height: 40px;
  background-color: #ADE362;
}

header {
  height: 10%;
  width: 100%;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ADE362;
}

.column {
  height: 95%;
  width: 360px;
  margin: 0 auto;
  display: flex;
  max-height: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#more-flavor {
  height: 25px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

#landing-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/lettuce.jpg');
}

#menu {
  margin: 0;
  width: 100%;
  padding-left: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #ADE362;
}

#menu:hover li {
  display: block;
}

li {
  padding: 10px;
  margin-bottom: 1px;
  background-color: #599900;
}

li:hover {
  background-color: #315302;
}

.hidden {
  display: none;
}

h1 {
  width: 90%;
  font-size: 2.5rem;
  color: #FF4000;
  text-align: center;
  margin: 5px 0px 0px 0px;
  text-shadow: 1px 1px 0 #FFFFFF,
               2px 2px 0 #FFFFFF,
               3px 3px 0 #FFFFFF,
               4px 4px 0 #FFFFFF,
               5px 5px 0 #FFFFFF,
               6px 6px 0 #FFFFFF,
               7px 7px 2px rgba(0, 0, 0, 0.9),
               7px 7px 4px rgba(0, 0, 0, 0.9);
  font-family: 'FredokaOne-Regular', Helvetica, sans-serif;
}

#button {
  width: 70%;
  padding: 15px;
  color: #FFFFFF;
  max-width: 300px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  letter-spacing: .25rem;
  border: 4px solid #000000;
  background-color: #ff6300;
  box-shadow: inset 0 0 0 4px #FFFFFF,
                    9px 9px 2px 1px rgba(0, 0, 0, .9);
  font-family: 'FredokaOne-Regular', Helvetica, sans-serif;
}

#button:hover {
  box-shadow: inset 0 0 0 4px #FFFFFF,
              2px 2px 2px 1px rgba(0, 0, 0, .9);
}

#banner-text,
#button,
#gif-img {
  display: none;
}

section {
  width: 100%;
  display: flex;
  max-width: 320px;
  min-height: 620px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.controls {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.controls button {
  border: 0;
  width: 100%;
  padding: 6px;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 4px;
  border: 4px solid #000000;
  background-color: #599900;
  box-shadow: inset 0 0 0 4px #FFFFFF,
                    9px 9px 2px 1px rgba(0, 0, 0, .9);
}

button:hover {
  background-color: #315302;
  box-shadow: inset 0 0 0 4px #FFFFFF,
              2px 2px 2px 1px rgba(0, 0, 0, .9);
}

.slots {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot1,
.slot2,
.slot3 {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

#gif-img {
  width: 100%;
  height: auto;
  max-width: 320px;
}

#slot1,
#slot2,
#slot3,
#slot4,
#slot5,
#slot6 {
  width: 50%;
  height: auto;
  max-width: 320px;
  border: 4px solid #2B5700;
}

/* Info page */

.info {
  width: 100%;
  max-width: 600px;
  padding: 5px;
}

.info p {
  font-weight: bold;
}

.info p,
.info h3,
.info h4,
.info h5 {
  margin: 6px 0;
}

.info h3 {
  padding-left: 20px;
}

#vegetables_walking {
  width: 100%;
  height: auto;
  max-width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* END Info page */

/* About page */

#about-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/leafy_greens.jpg');
}

/* END About page */

/* Contact page */

#contact-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/spinach_leaves.jpg');
}

my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}

#null {
    display: none;
}

/* END Contact page */


/* Media Queries */

@media only screen and (min-width: 576px) {
  h1 {
    width: 100%;
    font-size: 3.5rem;
  }
  #slot1,
  #slot2,
  #slot3,
  #slot4,
  #slot5,
  #slot6 {
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
  .column {
    height: 90%;
  }
  #menu {
    width: 150px;
  }
  .controls {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 786px) {
  section {
    max-width: 1000px;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 5rem;
  }
  header {
    min-height: 100px;
  }
  .column {
    width: 80%;
  }
  .slots {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  img {
    width: 100%;
    height: auto;
  }
  .controls {
    width: 815px;
    flex-direction: row;
    justify-content: space-between;
  }
  .controls button {
    max-width: 250px;
  }
}

@media only screen and (min-width: 922px) {
  h1 {
    font-size: 6rem;
  }
  img {
    max-width: 350px;
  }
  .info {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .info {
    font-size: 1.4rem;
  }
}
